In [1]:
#variables 
print("john")

john

In [4]:
v="john"
v
type(v)

str

In [6]:
a=60
b=a
b

60

In [8]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [14]:
#Local variable
#Local variables are the variables that declared inside the function.

def add():
    a=2
    b=3
    c=a+b
    print("the sum is=",c)

In [17]:
# caling the function 
add()

the sum is= 5

# Data types

In [19]:
#list
a=[1,2,3,4,5,"hi","python",1.2]
a

[1, 2, 3, 4, 5, 'hi', 'python', 1.2]

In [30]:
print(a[1:3])

[2, 3]

In [32]:
list1  = [1, "hi", "Python", 2]    
print (list1[3:])

[2]

In [33]:
print (list1[0:2])

[1, 'hi']

In [39]:
print (list1 * 3)
print (list1 + list1)

[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

In [50]:
a="abb"
b=a*2
b

'abbabb'

In [55]:
#Dictoniry 
a={1:"john",1:"mancy",2:"shinny"}
print(a)
print("1st name is "+a[1])   
print("2nd name is "+a[2])

{1: 'mancy', 2: 'shinny'}
1st name is mancy
2nd name is shinny

In [57]:
#set
a={1,"r",2.3}
a

{1, 2.3, 'r'}

In [90]:
# Operator
+ => addition
- => sub
/ => gives the quotion ex- 20/10=>2
% => remainder ex - 20%10 => 0
** => exponent
// =>quotient floor value

SyntaxError: invalid syntax (3662804951.py, line 2)

In [92]:
#type conversion
#1. Implicit conversion
#In certain situations, Python automatically converts one data type to another. 

#2.explicit conversion 
#In Explicit Type Conversion, users convert the data type of an object to required data type.

# if else

In [59]:
# Simple Python Program to print the largest of the three numbers.  
a = int (input("Enter a: "));    
b = int (input("Enter b: "));    
c = int (input("Enter c: "));    
if a>b and a>c:    

    print ("From the above three numbers given a is largest");    
if b>a and b>c:    
 
    print ("From the above three numbers given b is largest");    
if c>a and c>b:    
 
    print ("From the above three numbers given c is largest");

Enter a: 1
Enter b: 2
Enter c: 3
From the above three numbers given c is largest

In [60]:
# Simple Python Program to check whether a person is eligible to vote or not.  
age = int (input("Enter your age: "))    
# Here, we are taking an integer num and taking input dynamically  
if age>=18:    
# Here, we are checking the condition. If the condition is true, we will enter the block  
    print("You are eligible to vote !!");    
else:    
    print("Sorry! you have to wait !!");

Enter your age: 23
You are eligible to vote !!

In [61]:
#Example 2: Program to check whether a number is even or not.
# try it yourself

In [93]:
# Simple Python program to understand elif statement  
marks = int(input("Enter the marks? "))    
if marks > 85 and marks <= 100:     
    print("Congrats ! you scored grade A ...")    
elif marks > 60 and marks <= 85:    
    print("You scored grade B + ...")    
elif marks > 40 and marks <= 60:     
    print("You scored grade B ...")    
elif (marks > 30 and marks <= 40):    
# Here, we are checking the condition. If the condition is true, we will enter the block  
   print("You scored grade C ...")    
else:    
    print("Sorry you are fail ?")

Enter the marks? 76
You scored grade B + ...

In [95]:
#if_elif_else
if condition 
  statement
elif condition
 statemente
else 
 statemente

#nested_if 
if condition
 statement
    if cond
      statement
elif con
  statement 
else
 statement

SyntaxError: expected ':' (3524700163.py, line 2)

# For

In [ ]:
for n in valuesequence
 {code block}

In [88]:
list=[1,2,3,4]
list2=[]
for i in list:
    list1=i
    list2.append(list1)
print(list2)

[1, 2, 3, 4]

In [89]:
list=[1,2,3,4,5,6,7]
emp=[]
for n in list:
    seq=n**2
    emp.append(seq)
print("new list is",emp)

new list is [1, 4, 9, 16, 25, 36, 49]

In [91]:
#while 
while condition 
 statement

In [108]:
# program to calculate the sum of numbers
# until the user enters zero
total = 0
n=int(input("Enter number"))

while n>0:
    total=total+n
    print("Total:",total)
    n=int(input("Enter number"))
else:
    print("The number is 0")

Enter number1
Total: 1
Enter number2
Total: 3
Enter number3
Total: 6
Enter number4
Total: 10
Enter number5
Total: 15
Enter number0
The number is 0

In [120]:
#while_else
n=int(input("Number"))
while n>40:
    n=int(input("number"))
else:
    print("u can leave ")

Number45
number70
number23
u can leave

In [121]:
#break 
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [122]:
#continue
for i in range(5):
    if i == 3:
        continue
    print(i)
#Here, when i is equal to 3, the continue statement is executed. Hence, the value 3 is not printed to the output.

0
1
2
4